{% extends 'base.html' %}
{% block content %}

{% include 'students/navbar.html' %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Student Message </h5>    
    <h4>  </h4>
    <small>  </small>
    
  </div>
</div>

<br>
<div>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      <label for="message"> Message </label>
      <input type="text" name="message" />
      <button type="submit" class="btn btn-success">Save</button>
  </form>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}