{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'students/navbar.html' %}
<style>
   input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  height: 80px;
}

select {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  height: 50px;
}


</style>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Student Defence Request </h5>    
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button onClick="window.location.href=window.location.href" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
    
  </div>
</div> 
<br><br><br>
<table class="table align-middle mb-0 bg-white">
 
  <thead class="bg-light">
    <tr>
      <th>Title</th>
      <th>Status</th>
      
      
    </tr>
    {% for i in object_list %}   
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="/media/{{i.student.user.profile_pix}}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
            <p class="fw-bold mb-1">{{i.detail}} </p><br>
            <p class="text-muted mb-0">{{i.type}}</p>
            </div>
          </div>
        </div>
      </td>
      <td>
        {% if i.status == 'approved' %}
        <p class="fw-normal mb-1"> <img height="20px" src="{% static 'img/verified.svg' %}" alt="vverified"> {{i.status}}</p>
        {% endif %}
        {% if i.status == 'closed' %}
        <p class="fw-normal mb-1"> <img height="20px" src="{% static 'img/declined.svg' %}" alt="closed"> {{i.status}}</p>
        {% endif %}
        {% if i.status == 'pending' %}
        <p class="fw-normal mb-1"> <img height="20px" src="{% static 'img/unverified.svg' %}" alt="vverified"> {{i.status}}</p>
        {% endif %}


        <p class="fw-normal mb-1"><small>Read by supervisor: {{i.supervisor_read}}</small> </p>
        <!-- <p class="text-muted mb-0">IT department</p> -->
      </td>
      
    </tr>
    {% endfor %}
  </tbody>
  
</table>

<br><br><br>
<div class="rounded border border-3 p-3" style="background-color: rgba(112, 63, 63, 0.808);">
  <br><br>
  <div>
    <div class="card text-center">
      <div class="card-body">
        <form  class="form-control" action="{% url 'defence_call' %}" method="post">
          {% csrf_token %}
          
          <br>
          <!-- <label class="text-left" >Defence call note to supervisor</label> -->
          <br>
          <input  type="text" name="detail" placeholder="describe your request for a proejct defence" />
                   
          <br><br>
          <select class="custom-select" name="type" id="type" >
            <option value=""> select type</option>
            <option value="mid_term">Mid-term Defence</option>
            <option value="final">Final Defence</option>             
          </select>
      
          <!-- Submit button -->
          <br><br>
          <button type="submit" class="btn btn-success">Submit request</button>
        </form>
      </div>     
    </div>
       
    <br><br><br><br><br>

  </div>
</div>

{% endblock %}

{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}