{% extends 'base.html' %}
{% block content %}
{% include 'students/navbar.html' %}

<style>
  #chat1 .form-outline .form-control~.form-notch div {
pointer-events: none;
border: 1px solid;
border-color: #eee;
box-sizing: border-box;
background: transparent;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-leading {
left: 0;
top: 0;
height: 100%;
border-right: none;
border-radius: .65rem 0 0 .65rem;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-middle {
flex: 0 0 auto;
max-width: calc(100% - 1rem);
height: 100%;
border-right: none;
border-left: none;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
flex-grow: 1;
height: 100%;
border-left: none;
border-radius: 0 .65rem .65rem 0;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
border-top: 0.125rem solid #39c0ed;
border-bottom: 0.125rem solid #39c0ed;
border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
border-right: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
border-bottom: 0.125rem solid;
border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
border-top: none;
border-right: none;
border-left: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
border-top: 0.125rem solid #39c0ed;
border-bottom: 0.125rem solid #39c0ed;
border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
border-left: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-label {
color: #39c0ed;
}

#chat1 .form-outline .form-control~.form-label {
color: #bfbfbf;
}
</style>


<div class="card">
  <div class="card-body">
    <h5 class="card-title"> Student Direct Message </h5>    
    <h4>  </h4>
    <small>  </small>    
  </div>
</div> 

<br>
<br>

    <div class="form-outline">
        <form action="{% url 'create_message' %}" method="post">
            {% csrf_token %}                       
            <textarea name="message" class="form-control" id="textAreaExample" rows="4"></textarea>
            <label class="form-label" for="textAreaExample">Type your message</label> <br>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>
        <br><br>
        
            {% for i in object_list %}
            {% if i.sender == request.user %}
            <div class="d-flex flex-row justify-content-end mb-4">
              <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                <p class="small mb-0">{{i.message}}<br> <small>{{i.sender}}</small></p>
              </div>
              <img src="/media/{{i.sender.profile_pix}}"
                alt="avatar 1" style="width: 45px; height: 45px"
                class="rounded-circle">
            </div>            
            {% else %}              
            <div class="d-flex flex-row justify-content-start mb-4">
              <img src="/media/{{i.sender.profile_pix}}"
                alt="avatar 1" style="width: 45px; height: 45px"
                class="rounded-circle">
              <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                <p class="small mb-0">{{i.message}}<br></p> 
                <small>{{i.sender}}</small>
              </div>
            </div>            
            {% endif %}
            {% endfor %}

  </div>
</div>


{% endblock %}

{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}